<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject #1: Trends in High School GPAs</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/trends-in-high-school-gpas/">https://discovery.cs.illinois.edu/microproject/trends-in-high-school-gpas/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: Common Data Set

The [Common Data Set (CDS)](https://commondataset.org/) is an annual report published by nearly every major college and university in the United States with the goal to achieve the *"development of clear, standard data items and definitions in order to determine a specific cohort relevant to each item"*.

As part of the Common Data Set, universities report the "percentage of all enrolled, degree-seeking, first-time, first-year students [...] high school grade-point averages" in the following GPA ranges:

- Percentage of incoming freshman with a high school GPA of 4.00
- Percentage of incoming freshman with a high school GPA of 3.75 or greater
- Percentage of incoming freshman with a high school GPA of 3.50 or greater
- ...and so on...

For example, the University of Wisconsin-Madison's [UW-Madison 2024 CDS](https://data.wisc.edu/common-data-set-and-rankings/) reports following the following high school GPAs for the freshman class entering in Fall 2023:

| High School GPA | Percentage of Freshman Class |
| --------------: | ---------------------------: |
| =4.00            | 47.8%                        |
| $\ge$ 3.75 (includes 4.00s)    | 83.8%  |
| $\ge$ 3.50     | 95.9%                        |
| $\ge$ 3.25     | 98.8%                        |
| $\ge$ 3.00     | 99.7%                        |
| $\ge$ 2.50     | 100%                        |
| $\ge$ 2.00     | 100%                        |
| $\ge$ 1.00     | 100%                        |
| $\ge$ 0.00     | 100%                        |

In January 2025, we compiled all of high school GPAs from the Common Data Sets provided by all Big Ten Universities and provide them as a dataset `cds-high-school-gpas.csv`.  In this MicroProject, you will nerd out with this data and explore any trends in the high school GPAs of freshman at Big Ten schools.  Let's nerd out! ðŸŽ‰


### Background Knowledge

To finish this MicroProject, we assume you already know how to:

- Load a CSV file into a DataFrame using `pd.read_csv` ([review loading a CSV file](https://discovery.cs.illinois.edu/learn/Basics-of-Data-Science-with-Python/Python-for-Data-Science-Introduction-to-DataFrames/)),
- Perform simple row selection of a DataFrame ([review row selection](https://discovery.cs.illinois.edu/learn/Basics-of-Data-Science-with-Python/Row-Selection-with-DataFrames/)),

With that knowledge, this MicroProject will guide you through nerding out with the Common Data Set and creating a visualization from a DataFrame.  Let's get started! :)

<hr style="color: #DD3403;">

## Part 1: Importing the CDS Big Ten High School GPAs Dataset

You can find the `cds-high-school-gpas.csv` dataset at the following URL: https://waf.cs.illinois.edu/discovery/cds-high-school-gpas.csv

Load the URL as a dataset as a new DataFrame in a variable named `df`:

In [34]:
# Load the URL as a new DataFrame in a variable named `df`:
# (The URL is: "https://waf.cs.illinois.edu/discovery/cds-high-school-gpas.csv")
...
import pandas as pd
df = pd.read_csv("https://waf.cs.illinois.edu/discovery/cds-high-school-gpas.csv")

Once you have the dataset loaded, you can display the DataFrame by placing the variable name on the last line of any Python cell.  For example, run the following cell that just contains the variable named `df` to see the DataFrame you just loaded:

In [36]:
df

,School,Year (Fall),=4.00,>=3.75,>=3.50,>=3.25,>=3.00,>=2.50,>=2.00,>=1.00,>=0.00,Avg.,%StudentsReportedGPAs
0,UCLA,2024,56.31,92.43,97.66,99.31,99.91,100.0,100.0,100.0,100.0,3.93,100
1,UCLA,2023,59.00,93.40,97.90,99.30,99.70,99.9,100.0,100.0,100.0,3.93,100
2,UCLA,2022,59.10,93.10,98.00,99.60,99.90,100.0,100.0,100.0,100.0,3.93,98.6
3,UCLA,2021,55.40,91.80,97.50,99.20,99.80,100.0,100.0,100.0,100.0,3.92,99.9
4,UCLA,2020,47.30,89.50,96.70,98.80,99.60,99.9,100.0,100.0,100.0,3.90,98.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,University of Wisconsin-Madison,2004,NaN,NaN,NaN,NaN,95.00,95.0,100.0,100.0,100.0,3.68,96
182,University of Wisconsin-Madison,2003,NaN,NaN,NaN,NaN,95.00,95.0,100.0,100.0,100.0,3.66,95
183,University of Wisconsin-Madison,2002,NaN,NaN,NaN,NaN,94.00,94.0,100.0,100.0,100.0,3.60,96
184,University of Wisconsin-Madison,2001,NaN,NaN,NaN,NaN,94.00,94.0,100.0,100.0,100.0,3.60,95
185,University of Wisconsin-Madison,2000,NaN,NaN,NaN,NaN,93.00,93.0,100.0,100.0,100.0,3.60,96

<hr style="color: #DD3403;">

## Part 2: Exploring the Data

One of the first steps in Data Science is to understand your data and explore the dataset!

### Part 2.1: Highest Percentage of Freshman with 4.00 High School GPAs

First, find the **ten rows** that have the highest percentage of incoming freshman with a 4.00 GPA.  Store those ten rows in a new variable named `df_highest400`.

Helpful Tips: 
- You will need to reference Part 1 to understand the structure of the dataset to find the exact name of the column.
- You can review the [DISCOVERY page: "Row Selection with DataFrames"](https://discovery.cs.illinois.edu/learn/Basics-of-Data-Science-with-Python/Row-Selection-with-DataFrames/) to find out how to select rows with the largest values.

In [60]:
# Find the **ten rows** that have the highest percentage of incoming freshman with a 4.00 GPA:
df_highest400 = df.nlargest(10, '=4.00')
df_highest400

,School,Year (Fall),=4.00,>=3.75,>=3.50,>=3.25,>=3.00,>=2.50,>=2.00,>=1.00,>=0.00,Avg.,%StudentsReportedGPAs
2,UCLA,2022,59.10,93.10,98.00,99.60,99.90,100.0,100.0,100.0,100.0,3.93,98.6
1,UCLA,2023,59.00,93.40,97.90,99.30,99.70,99.9,100.0,100.0,100.0,3.93,100
0,UCLA,2024,56.31,92.43,97.66,99.31,99.91,100.0,100.0,100.0,100.0,3.93,100
3,UCLA,2021,55.40,91.80,97.50,99.20,99.80,100.0,100.0,100.0,100.0,3.92,99.9
163,University of Wisconsin-Madison,2022,48.20,82.60,95.10,98.70,99.70,100.0,100.0,100.0,100.0,3.88,90.6
162,University of Wisconsin-Madison,2023,47.80,83.80,95.90,98.80,99.70,100.0,100.0,100.0,100.0,3.90,91
5,UCLA,2019,47.70,88.90,96.10,98.80,99.70,100.0,100.0,100.0,100.0,3.90,NaN
4,UCLA,2020,47.30,89.50,96.70,98.80,99.60,99.9,100.0,100.0,100.0,3.90,98.7
164,University of Wisconsin-Madison,2021,45.00,80.60,94.90,98.70,99.80,100.0,100.0,100.0,100.0,3.88,89.6
6,UCLA,2018,43.20,85.90,95.50,98.40,99.50,99.8,99.8,99.8,99.8,3.89,NaN

In [54]:
### TEST CASE for Part 2.1: Highest Percentage of Freshman with 4.00 High School GPAs
#
# What is this cell?
# - This cell contains test cases for the MicroProject.  You can modify anything except
#   the first line of this cell, but we will replace this cell with a new version of this
#   cell when your MicroProject is graded.  It's usually best to not change this cell!
#
# - To run the test cases we have for you, just run this Python cell like any other cell! :)
#
# - If this cell runs without any error in the output, you PASSED all test cases!
#   We try and make these test cases as useful and complete as possible, but there is
#   a chance your code may be incorrect even though you pass the test cases (these
#   tests should be seen as a way to give you confidence that code you understand how
#   it works is actually correct, not as a robust check to catch all possible errors).
#
# - If this cell results in any errors, check you previous cells, make changes, and
#   RE-RUN your code and then re-run this cell.  Keep repeating this until the cell
#   passed with no errors! :)
#
# - You will find more cells that begin with the words "TEST CASE" throughout the
#   notebook at important points to make sure everything is looking good so far!
#

tada = "\N{PARTY POPPER}"

assert( "df_highest400" in vars() ), \
  "You must define a new variable called `df_highest400`."

assert( "DataFrame" in str(type(df_highest400)) ), \
  "The variable `df_highest400` must contain a DataFrame."

assert( "School" in df_highest400 ), \
  "The DataFrame stored in `df_highest400` does not contain a column \"School\".  Are you sure it's a subset of the original DataFrame?"

assert( ">=3.75" in df_highest400 ), \
  "The DataFrame stored in `df_highest400` does not contain a column \">=3.75\".  Are you sure it's a subset of the original DataFrame?"

assert( len(df_highest400) == 10 ), \
  "The DataFrame stored in `df_highest400` must ONLY contain 10 rows."

assert( df_highest400["=4.00"].sum() == 509.01 ), \
  "The DataFrame stored in `df_highest400` must contain ONLY the rows with the highest percentage of students with 4.00 GPAs."

assert( len(df_highest400["School"].unique() == 2) ), \
  "The DataFrame stored in `df_highest400` must contain ONLY the rows with the highest percentage of students with 4.00 GPAs."

print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

### Part 2.2: Exploring UW-Madison Data

In the introduction, we previewed the Fall 2023 freshman class at the University of Wisconsin-Madison.  To understand if there's a trend in the data, we want to select **ALL** years of data from University of Wisconsin-Madison.

To do this, store the rows with data about the University of Wisconsin-Madison in a new variable named `df_wisconsin`:

In [62]:
# Select all the rows with data about the University of Wisconsin-Madison
# and store those rows in a new variable named `df_wisconsin`:
df_wisconsin = df[df.School == "University of Wisconsin-Madison"]
df_wisconsin

,School,Year (Fall),=4.00,>=3.75,>=3.50,>=3.25,>=3.00,>=2.50,>=2.00,>=1.00,>=0.00,Avg.,%StudentsReportedGPAs
162,University of Wisconsin-Madison,2023,47.8,83.8,95.9,98.8,99.70,100.00,100.00,100.00,100.00,3.90,91
163,University of Wisconsin-Madison,2022,48.2,82.6,95.1,98.7,99.70,100.00,100.00,100.00,100.00,3.88,90.6
164,University of Wisconsin-Madison,2021,45.0,80.6,94.9,98.7,99.80,100.00,100.00,100.00,100.00,3.88,89.6
165,University of Wisconsin-Madison,2020,43.0,80.0,95.0,99.0,100.00,100.00,100.00,100.00,100.00,3.87,91
166,University of Wisconsin-Madison,2019,43.1,80.1,95.6,98.7,99.80,100.00,100.00,100.00,100.00,3.87,91
167,University of Wisconsin-Madison,2018,NaN,78.0,95.0,99.0,100.00,100.00,100.00,100.00,100.00,3.86,91
168,University of Wisconsin-Madison,2017,NaN,73.2,91.8,98.2,99.70,100.00,100.00,100.00,100.00,3.84,91.3
169,University of Wisconsin-Madison,2016,NaN,74.6,92.6,98.2,99.50,100.00,100.00,100.00,100.00,3.84,90.4
170,University of Wisconsin-Madison,2015,NaN,76.1,94.0,98.6,99.58,99.93,99.93,99.93,99.93,3.85,78
171,University of Wisconsin-Madison,2014,NaN,72.4,92.3,98.3,99.60,100.00,100.00,100.00,100.00,3.83,97.4
172,University of Wisconsin-Madison,2013,NaN,68.5,89.3,99.3,100.00,100.00,100.00,100.00,100.00,3.81,95
173,University of Wisconsin-Madison,2012,NaN,75.7,94.2,98.5,99.50,100.00,100.00,100.00,100.00,3.84,89
174,University of Wisconsin-Madison,2011,NaN,57.2,82.0,92.9,98.00,99.80,100.00,100.00,100.00,3.72,93
175,University of Wisconsin-Madison,2010,NaN,52.7,78.4,91.3,97.10,99.80,100.00,100.00,100.00,3.69,92.4
176,University of Wisconsin-Madison,2009,NaN,55.3,77.4,89.5,96.10,99.70,100.00,100.00,100.00,3.69,93.1
177,University of Wisconsin-Madison,2008,NaN,54.8,78.3,90.1,96.20,99.60,100.00,100.00,100.00,3.69,93
178,University of Wisconsin-Madison,2007,NaN,55.0,77.0,87.0,95.00,99.00,100.00,100.00,100.00,3.77,98
179,University of Wisconsin-Madison,2006,NaN,53.0,76.0,88.0,95.00,99.00,100.00,100.00,100.00,3.67,95
180,University of Wisconsin-Madison,2005,NaN,51.0,74.0,86.0,94.00,99.00,100.00,100.00,100.00,3.66,95
181,University of Wisconsin-Madison,2004,NaN,NaN,NaN,NaN,95.00,95.00,100.00,100.00,100.00,3.68,96
182,University of Wisconsin-Madison,2003,NaN,NaN,NaN,NaN,95.00,95.00,100.00,100.00,100.00,3.66,95
183,University of Wisconsin-Madison,2002,NaN,NaN,NaN,NaN,94.00,94.00,100.00,100.00,100.00,3.60,96
184,University of Wisconsin-Madison,2001,NaN,NaN,NaN,NaN,94.00,94.00,100.00,100.00,100.00,3.60,95
185,University of Wisconsin-Madison,2000,NaN,NaN,NaN,NaN,93.00,93.00,100.00,100.00,100.00,3.60,96

In [64]:
### TEST CASE for Part 2.2: Exploring UW-Madison Data
tada = "\N{PARTY POPPER}"

assert( "df_wisconsin" in vars() ), \
  "You must define a new variable called `df_wisconsin`."

assert( "DataFrame" in str(type(df_wisconsin)) ), \
  "The variable `df_wisconsin` must contain a DataFrame."

assert( "School" in df_wisconsin ), \
  "The DataFrame stored in `df_wisconsin` does not contain a column \"School\".  Are you sure it's a subset of the original DataFrame?"

assert( ">=3.75" in df_wisconsin ), \
  "The DataFrame stored in `df_wisconsin` does not contain a column \">=3.75\".  Are you sure it's a subset of the original DataFrame?"

assert( len(df_wisconsin["School"].unique() == 1) ), \
  "The DataFrame stored in `df_wisconsin` must ONLY contain data about \"University of Wisconsin-Madison\" and no other schools (your DataFrame contains multiple schools). "

assert( df_wisconsin["School"].unique()[0] == "University of Wisconsin-Madison" ), \
  "The DataFrame stored in `df_wisconsin` must ONLY contain data about \"University of Wisconsin-Madison\" and no other schools (your DataFrame contains a different schools). "

assert( len(df_wisconsin) == 24 ), \
  "The DataFrame stored in `df_wisconsin` must contain ALL of the rows about \"University of Wisconsin-Madison\" (your DataFrame contains the incorrect number of rows). "

import math
assert( math.isclose( df_wisconsin[">=3.75"].std(), 11.990700587738619 ) ), \
  "The DataFrame stored in `df_wisconsin` contains incorrect data (did you accidentally change the data somewhere?)"

print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

### Part 2.3: Exploring Data From U-Michigan

An extremely helpful tool is to list **ALL the unique values for a given column** by using the command:

> ```py
> df["Column"].unique()
> ```

To list all of the different universities that appear in the dataset, we would need to find the **unique values for the column `School`**.  Using the syntax above, list all of the unique Big Ten universities stored in the DataFrame `df`:

In [66]:
# List all of the unique Big Ten universities stored in the DataFrame `df`:
df["School"].unique()

array(['UCLA', 'Indiana (Bloomington)', 'University of Iowa',
       'University of Michigan', 'Michigan State', 'University of Oregon',
       'Purdue', 'USC', 'University of Washington (Seattle)',
       'University of Wisconsin-Madison'], dtype=object)

Once you have a list of all the University names, find the exact spelling and capitalization for The University of Michigan as it appears in the dataset.  Then, just like in Part 2.2, select all the rows from the original DataFrame (`df`) that contain data about The University of Michigan.

Store your data in a new variable called `df_michigan`:

In [68]:
# Select all the rows from the original DataFrame (`df`) that contain data about
# The University of Michigan.  Store your data in a new variable called `df_michigan`:
df_michigan = df[df.School == "University of Michigan"]
df_michigan

,School,Year (Fall),=4.00,>=3.75,>=3.50,>=3.25,>=3.00,>=2.50,>=2.00,>=1.00,>=0.00,Avg.,%StudentsReportedGPAs
52,University of Michigan,2023,37.8,92.30,98.80,99.50,99.90,100.00,100.0,100.0,100.0,3.90,93
53,University of Michigan,2022,38.0,92.40,98.80,99.60,99.80,100.00,100.0,100.0,100.0,3.90,93
54,University of Michigan,2021,33.4,88.00,98.00,99.10,99.60,99.80,99.8,99.8,99.8,3.88,93
55,University of Michigan,2020,30.8,86.30,97.90,99.10,99.80,99.90,99.9,99.9,99.9,3.87,92
56,University of Michigan,2019,32.8,88.80,98.00,99.20,99.80,100.00,100.0,100.0,100.0,3.88,90
57,University of Michigan,2018,NaN,84.30,97.10,98.80,99.60,99.60,99.6,99.6,99.6,3.86,92
58,University of Michigan,2017,NaN,80.90,96.90,98.70,99.50,100.00,100.0,100.0,100.0,3.85,97.1
59,University of Michigan,2016,NaN,79.60,95.80,98.50,99.50,100.00,100.0,100.0,100.0,3.84,95
60,University of Michigan,2015,NaN,76.90,95.70,98.40,99.60,99.90,100.0,100.0,100.0,3.83,96
61,University of Michigan,2014,NaN,75.00,95.00,98.00,100.00,100.00,100.0,100.0,100.0,3.81,96
62,University of Michigan,2013,NaN,76.20,94.00,97.20,99.30,99.90,100.0,100.0,100.0,3.82,95.8
63,University of Michigan,2012,NaN,71.90,93.50,97.10,99.40,99.90,99.9,99.9,99.9,3.80,96
64,University of Michigan,2011,NaN,69.00,93.00,97.00,99.00,100.00,100.0,100.0,100.0,3.79,96
65,University of Michigan,2010,NaN,63.10,89.60,95.60,98.80,99.90,100.0,100.0,100.0,3.76,96.2
66,University of Michigan,2009,NaN,62.00,89.00,95.00,99.00,100.00,100.0,100.0,100.0,3.75,96
67,University of Michigan,2008,NaN,62.60,88.20,94.10,97.90,99.80,100.0,100.0,100.0,3.75,97
68,University of Michigan,2007,NaN,64.05,88.72,94.12,98.42,99.77,100.0,100.0,100.0,NaN,NaN
69,University of Michigan,2005,NaN,NaN,NaN,NaN,97.00,97.00,100.0,100.0,100.0,3.72,96
70,University of Michigan,2004,NaN,NaN,NaN,NaN,98.00,98.00,100.0,100.0,100.0,3.72,96
71,University of Michigan,2003,NaN,NaN,NaN,NaN,98.00,98.00,100.0,100.0,100.0,3.73,96
72,University of Michigan,2002,NaN,NaN,NaN,NaN,100.00,100.00,100.0,100.0,100.0,3.92,95
73,University of Michigan,2001,NaN,NaN,NaN,NaN,96.00,96.00,100.0,100.0,100.0,3.80,98
74,University of Michigan,2000,NaN,NaN,NaN,NaN,96.00,96.00,100.0,100.0,100.0,3.70,98
75,University of Michigan,1999,NaN,NaN,NaN,NaN,97.00,97.00,100.0,100.0,100.0,3.70,96
76,University of Michigan,1998,NaN,NaN,NaN,NaN,96.00,96.00,100.0,100.0,100.0,3.60,96

In [70]:
### TEST CASE for Part 2.3: Exploring Data From U-Michigan
tada = "\N{PARTY POPPER}"

assert( "df_michigan" in vars() ), \
  "You must define a new variable called `df_michigan`."

assert( "DataFrame" in str(type(df_michigan)) ), \
  "The variable `df_michigan` must contain a DataFrame."

assert( "School" in df_michigan ), \
  "The DataFrame stored in `df_michigan` does not contain a column \"School\".  Are you sure it's a subset of the original DataFrame?"

assert( ">=3.75" in df_michigan ), \
  "The DataFrame stored in `df_michigan` does not contain a column \">=3.75\".  Are you sure it's a subset of the original DataFrame?"

assert( len(df_michigan["School"].unique() == 1) ), \
  "The DataFrame stored in `df_michigan` must ONLY contain data about \"University of Michigan\" and no other schools (your DataFrame contains multiple schools). "

assert( df_michigan["School"].unique()[0] == "University of Michigan" ), \
  "The DataFrame stored in `df_michigan` must ONLY contain data about \"University of Michigan\" and no other schools (your DataFrame contains multiple schools). "

assert( len(df_michigan) == 25 ), \
  "The DataFrame stored in `df_michigan` must contain ALL of the rows about \"University of Michigan\" (your DataFrame contains the incorrect number of rows). "

import math
assert( math.isclose( df_michigan[">=3.75"].std(), 10.547687577630183 ) ), \
  "The DataFrame stored in `df_michigan` contains incorrect data (did you accidentally change the data somewhere?)"

print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

### Part 2.4: Exploring Data From Michigan State

Finally, let's create a variable for one final school!  Find all the rows about Michigan State and store those rows in a variable called `df_michiganState`:

In [72]:
# Select all the rows from the original DataFrame (`df`) that contain data about
# Michigan State.  Store your data in a new variable called `df_michiganState`:
df_michiganState = df[df.School == "Michigan State"]
df_michiganState

,School,Year (Fall),=4.00,>=3.75,>=3.50,>=3.25,>=3.00,>=2.50,>=2.00,>=1.00,>=0.00,Avg.,%StudentsReportedGPAs
77,Michigan State,2023,26.20,55.30,78.30,91.20,98.10,100.00,100.00,100.0,100.0,3.80,94.3
78,Michigan State,2022,28.70,59.30,81.60,94.20,98.00,99.80,100.00,100.0,100.0,3.80,93.3
79,Michigan State,2021,22.92,50.73,73.95,89.58,97.82,99.92,99.98,100.0,100.0,3.72,92.6
80,Michigan State,2020,24.10,52.37,75.82,90.26,97.54,99.88,100.00,100.0,100.0,3.72,92
81,Michigan State,2019,23.90,54.90,79.20,91.40,97.40,99.70,99.80,99.8,99.8,3.75,88
82,Michigan State,2018,NaN,52.70,78.30,91.40,97.20,99.80,100.00,100.0,100.0,3.73,87.2
83,Michigan State,2017,NaN,49.80,77.50,90.30,96.40,99.70,99.90,99.9,99.9,3.71,84
84,Michigan State,2016,NaN,49.90,76.00,89.30,96.30,99.70,99.90,99.9,99.9,3.70,83
85,Michigan State,2015,NaN,46.80,73.60,88.70,95.90,99.80,100.00,100.0,100.0,3.68,84
86,Michigan State,2014,NaN,44.71,72.71,88.25,95.27,99.84,99.99,100.0,100.0,3.66,83.8
87,Michigan State,2013,NaN,39.20,68.30,86.50,94.10,99.50,99.90,99.9,99.9,3.62,82.2
88,Michigan State,2012,NaN,37.60,67.00,87.20,95.50,99.70,100.00,100.0,100.0,3.61,82.5
89,Michigan State,2011,NaN,36.82,68.48,86.95,94.46,99.57,99.97,100.0,100.0,3.61,83.6
90,Michigan State,2010,NaN,36.10,66.60,86.70,94.70,99.70,100.00,100.0,100.0,3.60,87.5
91,Michigan State,2009,NaN,37.00,66.40,85.70,94.40,99.70,100.00,100.0,100.0,3.60,87.2
92,Michigan State,2008,NaN,36.80,69.20,87.70,95.00,99.70,100.00,100.0,100.0,3.61,88.1
93,Michigan State,2007,NaN,34.30,65.50,86.90,94.60,99.70,100.00,100.0,100.0,3.59,91
94,Michigan State,2006,NaN,36.00,67.50,86.90,94.40,100.00,100.00,100.0,100.0,3.61,75
95,Michigan State,2004,NaN,NaN,NaN,NaN,94.30,94.30,100.00,100.0,100.0,3.55,91
96,Michigan State,2003,NaN,NaN,NaN,NaN,94.00,94.00,100.00,100.0,100.0,3.58,96
97,Michigan State,2002,NaN,NaN,NaN,NaN,95.00,95.00,100.00,100.0,100.0,3.55,95
98,Michigan State,2001,NaN,NaN,NaN,NaN,92.50,92.50,100.00,100.0,100.0,3.52,98
99,Michigan State,2000,NaN,NaN,NaN,NaN,90.00,90.00,100.00,100.0,100.0,3.48,98
100,Michigan State,1999,NaN,NaN,NaN,NaN,89.00,89.00,100.00,100.0,100.0,3.40,*
101,Michigan State,1998,NaN,NaN,NaN,NaN,85.00,85.00,100.00,100.0,100.0,3.40,98

In [74]:
### TEST CASE for Part 2.4: Exploring Data From Michigan State
tada = "\N{PARTY POPPER}"

assert( "df_michiganState" in vars() ), \
  "You must define a new variable called `df_michiganState`."

assert( "DataFrame" in str(type(df_michiganState)) ), \
  "The variable `df_michiganState` must contain a DataFrame."

assert( "School" in df_michiganState ), \
  "The DataFrame stored in `df_michiganState` does not contain a column \"School\".  Are you sure it's a subset of the original DataFrame?"

assert( ">=3.75" in df_michiganState ), \
  "The DataFrame stored in `df_michiganState` does not contain a column \">=3.75\".  Are you sure it's a subset of the original DataFrame?"

assert( len(df_michiganState["School"].unique() == 1) ), \
  "The DataFrame stored in `df_michiganState` must ONLY contain data about \"Michigan State\" and no other schools (your DataFrame contains multiple schools). "

assert( df_michiganState["School"].unique()[0] == "Michigan State" ), \
  "The DataFrame stored in `df_michiganState` must ONLY contain data about \"Michigan State\" and no other schools (your DataFrame contains multiple schools). "

assert( len(df_michiganState) == 25 ), \
  "The DataFrame stored in `df_michiganState` must contain ALL of the rows about \"Michigan State\" (your DataFrame contains the incorrect number of rows). "

import math
assert( math.isclose( df_michiganState[">=3.75"].std(), 8.284110410546061 ) ), \
  "The DataFrame stored in `df_michiganState` contains incorrect data (did you accidentally change the data somewhere?)"

print(f"{tada} All tests passed! {tada}")

ðŸŽ‰ All tests passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 3: Data Visualization

If you look back over the three DataFrames you created in Part 2.2 (Wisconsin), 2.3 (U-Michigan), and 2.4 (Michigan State), you can examine the tables for trends.  However, it's often more impactful to see the data visually!

For any visualization, we generally need to specify:
- What data do we want on the **x-axis**?
- What data do we want on the **y-axis**?

### Part 3.1: X-Axis Values

To understand a trend over time, it's common the visualize the year on the x-axis.  To help create this visualization, find the column name in your DataFrame that contains data for the year of the data and store it in the Python variable `x_column` below:

In [110]:
x_column = 'Year (Fall)'
x_column

0      2024
1      2023
2      2022
3      2021
4      2020
       ...
181    2004
182    2003
183    2002
184    2001
185    2000
Name: Year (Fall), Length: 186, dtype: int64

### Part 3.2: Y-Axis Values

In addition, we also need to decide what actual data we want to visualize the trend over time.
- Do we want to visualize only students who have a 3.00? 
- ...or those with at least a 3.50? 
- ...or a perfect 4.0?
- ...or something else entirely?
- We can choose any column in our dataset!

To start, find the name of the column that contains data of the **percentage of all freshman who have at least a high school GPA of 3.50 or greater**.  Store that column name in the variable `y_column`:

In [118]:
y_column = '>=3.50'
y_column

KeyError: "None of [Index([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2024, 2023,\n       ...\n       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000],\n      dtype='int64', length=186)] are in the [columns]"

### Part 3.3: Create the visualization!

In Module 2 of DISCOVERY (the very next module!), you will learn how to create a visualization -- but take a peek at the code below before you run it.
- In the first line, you will find we use your `df_wisconsin` that you created in Part 2.2.  This is how we source data about the high school GPAs of the freshman class at The University of Wisconsin. 
- Immediately after `df_wisconsin`, we use `.plot.line` to create a line graph with the data! This line of code is stored in the variable `ax` that is referenced later in the code to add modifications to the original line graph.
- This is repeated in a very similar way in Lines #2 and Line #3 below for `df_michigan` and `df_michiganState`. Note the `ax=` parameter in these lines which adds each university's line to the original Wisconsin-Madison line graph stored in the variable `ax`.

You'll create line plots like this, along with dozens of other visualizations, when we cover Data Visualization in DISCOVERY in Module 2!  However, for now, we've provided it for you. :)

When you're ready, run the code to create the visualization:

In [114]:
# Line 1: Line Plot for University of Wisconsin (using `df_wisconsin`)
ax = df_wisconsin.plot.line(x=x_column, y=y_column)

# Line 2: Line Plot for University of Michigan (using `df_michigan`)
df_michigan.plot.line(x=x_column, y=y_column, ax=ax)

# Line 3: Line Plot for Michigan State (using `df_michiganState`)
df_michiganState.plot.line(x=x_column, y=y_column, ax=ax)

# Setting up meaningful label names:
ax.set_ylabel(f"% of Freshman Class with High School GPA {y_column}")
ax.set_title("Trends in High School GPAs among Incoming Freshman Classes")
ax.set_xticks(range(2004, 2024))
ax.set_xticklabels(labels=range(2004, 2024), rotation=90)
ax.legend( ["Wisconsin", "Michigan", "Michigan State"])

KeyError: "None of [Index([2024, 2023, 2022, 2021, 2020, 2019, 2018, 2017, 2024, 2023,\n       ...\n       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000],\n      dtype='int64', length=186)] are in the [columns]"

### Part 3.4: Modify the Data Being Visualized

Finally, return to Part 3.2 and modify the `y_column` to visualize the percentage of the freshman class that has a **high school GPA of at 3.75 or greater**.

âš ï¸ - You must modify the `y_column` cell and re-run that cell **AND** generate a new graph by re-running the visualization cell in order to pass this the next test case! - âš ï¸

In [104]:
### TEST CASE for Part 3: Data Visualization

assert(len(ax.lines) >= 3), \
  "You must have (at least) three line plots in your visualization."

values = []
for line in ax.lines:
  values.append( line.get_data()[1].data[0] )

assert( 83.8 in values ), \
  "You must have a line for data from the University of Wisconsin."
assert( 92.3 in values ), \
  "You must have a line for data from the University of Michigan."
assert( 55.3 in values ), \
  "You must have a line for data from the Michigan State."

print(f"{tada} All tests passed! {tada}")

NameError: name 'ax' is not defined

<hr style="color: #DD3403;">

## JKLMNOP: Just Keep Letting Me Nerd Out Please!

The visualization you created is the foundational pieces of the visualization *"Trends in High School GPAs among Incoming Freshman Classes of Big Ten Schools"*, which won first prize at The University of Illinois the Big Ten Academic Alliance's 2025 Data Visualization Championship:

- You can view the visualization here: https://waf.cs.illinois.edu/visualizations/Trends-in-High-School-GPAs-of-Incoming-Freshman/
- The first of the two line graph on the link above (about half way down the page) graphs the same data you graphed in Part 3. ðŸŽ‰

If you want to keep nerding out, here's two additional challenges!
- You can complete them by adding new "Code" cells below this cell in your Jupyter notebook.
- The JKLMNOP challenges are not required to finish the MicroProject, but gives you a way to explore a little bit more! :)
- If you want to skip these challenges, you can continue to "Run the GitHub Action Autograder" to grade your MicroProject.

**JKLMNOP Challenge #1**: Continue building your data visualization and create a visualization that includes all ten schools in the dataset into a single visualization!

**JKLMNOP Challenge #2**: As a advanced challenge, add the "B1G Average" line to your visualization similar to what is displayed in the *"Trends in High School GPAs among Incoming Freshman Classes of Big Ten Schools"* visualization linked above.

In [ ]:
# You can add as many or as few new code cells as you need! :)

<hr style="color: #DD3403;">

## Run the GitHub Action Autograder

You're almost done!  All that's left is to commit your lab to GitHub and then run the GitHub Action grader on it! 

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**.

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/trends-in-high-school-gpas/ and complete the section **"Commit and Grade Your Notebook"**.

3. Only once you have a green check mark (âœ…) on your GitHub Action for this MicroProject, you have completed this MicroProject! ðŸŽ‰